  <div class="row">
  <div class="col-sm-3">
    <div style="margin-left: 25px;">
    <ng-multiselect-dropdown class="custom-font-size"
  [placeholder]="'Select one or more districts'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>


</div>
  </div>
  <div class="col-sm-4">
    <button type="button" style="margin-left: 40px;" (click)="getData($event)" class="btn btn-info">Go</button>
  
</div>
<div class="col-sm-3">

</div>
</div>

